@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; } 

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  height: 100%;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

header a {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0px 30px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family:'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
h1 a {
  color: white;
  text-decoration: none;
}
@media (max-width: 480px) {
  header a {
    width: 100%;
  }
}
@media (min-width: 481px) {
  header a {
    width: 50%;
  }
}
@media (min-width: 769px) {
  header a {
    width: 25%;
  }
}

#aarp {
  background: url(http://assets.bailey.is/img/parallax/aarp.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#aphl {
  background: url(http://assets.bailey.is/img/parallax/aphl.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#exim {
  background: url(http://assets.bailey.is/img/parallax/exim.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#pewforum {
  background: url(http://assets.bailey.is/img/parallax/pewforum.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#pewhispanic {
  background: url(http://assets.bailey.is/img/parallax/pewhispanic.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#pewresearch {
  background: url(http://assets.bailey.is/img/parallax/pewresearch.png);
}
#pewsocialtrends {
  background: url(http://assets.bailey.is/img/parallax/pewsocialtrends.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#usnews {
  background: url(http://assets.bailey.is/img/parallax/usnews.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.hero {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  height: 100%;
  text-align: center;
}
.inner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.hero .inner {
  background: rgba(0, 0, 0, 0.6) url(https://www.zoolz.com/images/siteimges/free/pattern3.png);
}

.copy {
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}
@media (max-width: 480px) {
  .copy {
    padding: 18px;
  }
}
@media (min-width: 481px) {
  .copy {
    padding: 12px;
  }
}
@media (min-width: 769px) {
  .copy {
    padding: 18px;
  }
}
@media (min-width: 1224px) {
  .copy {
    padding: 24px;
  }
}

.hero h1, .hero p {
  color: #fff;
}

.content h1, .content p {
  color: #333;
}

h1 {
  margin: 0px;
  font-family:'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 32px;
}

p {
  font-family:'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
