ErrorDocument 401 /401.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

Redirect 301 /old/file.html http://www.askapache.com/new/file.html

Redirect 301 /bailey.is/post/34176004235/whenever-i-feel-like-being-alone-i-log-onto http://blog.bailey.is/post/34176004235/whenever-i-feel-like-being-alone-i-log-onto







http://blog.bailey.is/post/34176004235/whenever-i-feel-like-being-alone-i-log-onto



http://blog.bailey.is/post/34176119080/medicine-cabinet-bread

18:58:33



http://blog.bailey.is/post/34176159283/was-to-bru-to-ams-to-par-to-nce-to-osl-to-yyz-to

18:59:22



http://blog.bailey.is/post/34176256443/the-oregon-trail-the-game-not-neccesarily

19:01:01



http://blog.bailey.is/post/34176340614/how-to-read-this-blog

19:02:36



http://blog.bailey.is/post/34176373712/2010-year-in-cities

19:03:16



http://blog.bailey.is/post/34176469568/a-history-openness-in-information-industries

19:05:05



http://blog.bailey.is/post/34176709862/social-media-in-campaign-2010

19:09:42


http://blog.bailey.is/post/34176731020/pechakucha
19:10:06



http://blog.bailey.is/post/34176752345/google-on-the-state-of-online-advertising

19:10:30



http://blog.bailey.is/post/34176782561/and-now-something-completely-different

19:11:05



http://blog.bailey.is/post/34176814133/i-may-be-late-to-the-fight-but-im-becoming-a

19:11:40



http://blog.bailey.is/post/34177077613/i-went-to-bloombergs-dc-headquarters-to-attend-a

19:16:36



http://blog.bailey.is/post/34177120793/calculating-the-true-cost-of-the-kindle

19:17:20



http://blog.bailey.is/post/34177139867/minimal-portfolio-concept

19:17:42



http://blog.bailey.is/post/34177168489/i-wish-i-could-justify-buying-the-brand-new-giant

19:18:13



http://blog.bailey.is/post/34177188923/the-perfect-storm

19:18:36



http://blog.bailey.is/post/34177238936/wireds-chris-anderson-on-internet-economics

19:19:32



http://blog.bailey.is/post/34177344071/on-one-side-of-the-internet-is-basecamp-a

19:21:25



http://blog.bailey.is/post/34177382154/on-the-death-of-industries

19:22:06


http://blog.bailey.is/post/34177402068/k-thx-bye
19:22:28



http://blog.bailey.is/post/34177437817/emulatation-and-site-design

19:23:08



http://blog.bailey.is/post/34177707341/journalism-in-the-new-economy

19:27:58



http://blog.bailey.is/post/34177738668/priorities-content-or-seo

19:28:31



http://blog.bailey.is/post/34177759701/newsweeks-overhaul

19:28:53



http://blog.bailey.is/post/34177778860/why-conversions-are-a-better-metric-than-page-views

19:29:14



http://blog.bailey.is/post/34177826005/in-praise-of-newsweeks-the-district




http://blog.bailey.is/post/34177850315/new-media-and-the-print-mentality




http://blog.bailey.is/post/34177875374/word-to-xml-conversions




http://blog.bailey.is/post/34177899970/internet-courtesy-and-nofollow-tags




http://blog.bailey.is/post/34177929135/causality-and-seo



http://blog.bailey.is/post/37805286267/medium



http://blog.bailey.is/post/37805477128/i-think-its-pretty-interesting-to-see-the-amount



http://blog.bailey.is/post/37805587140/new-myspace



http://blog.bailey.is/post/37806274429/2012-year-in-cities




http://blog.bailey.is/post/44543707974/the-washington-post-dips-a-toe-in-html5




http://blog.bailey.is/post/45193346255/nyt-redesign-proves-there-is-no-fold




http://blog.bailey.is/post/45270880553/the-psychology-of-ux




http://blog.bailey.is/post/45422424189/samsung-just-announced-the-galaxy-s4-the-newest




http://blog.bailey.is/post/47551038290/google-moving-beyond-webkit-rendering-engine




http://blog.bailey.is/post/48857111213/restyling-aarps-pagination




http://blog.bailey.is/post/48857443979/featuring-community-groups-in-blogs




http://blog.bailey.is/post/48857579435/share-tools-and-membership-call-to-action-on-aarp




http://blog.bailey.is/post/48953364712/word-cloud-of-top-100-aarp-articles




http://blog.bailey.is/post/49182201388/im-really-digging-the-windows-office-and




http://blog.bailey.is/post/49935402521/the-case-for-long-pages-and-the-user-is-drunk




http://blog.bailey.is/post/50592979657/there-are-a-couple-of-sites-where-after-a-while-it




http://blog.bailey.is/post/50596430017/press-releases-for-project-management




http://blog.bailey.is/post/52229735571/brevity-is-the-soul-of-wit


